# BrowserSync proxy — remote WordPress
WP_PROXY_URL=https://dornott.ru

# FTP Settings
FTP_HOST=your-ftp-host
FTP_USER=your-ftp-user
FTP_PASSWORD=your-ftp-password
FTP_PORT=21
FTP_REMOTE_PATH=/dornott.ru/public_html/wp-content/themes/dornott-theme
