@use "sass:color";
@use "sass:math";
@use "mixins" as *;
@use "variables" as *;
@use "fonts";
@use "icons";

.product {
	border-radius: 1.5rem;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	// .product__slide
	&__slide {
	}
	// .product__header
	&__header {
		position: relative;
	}
	// .product__slider
	&__slider {
		aspect-ratio: 1;
		border-radius: 1rem;
	}
	// .product__slide
	&__slide {
		height: 100%;
		width: 100%;
	}
	// .product__labels
	&__labels {
		position: absolute;
		top: 0;
		left: 0;
		padding: 0.5rem;
		display: flex;
		flex-wrap: wrap;
		gap: rem(6);
	}
	// .product__actions
	&__actions {
		margin-top: rem(12);
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	// .product__sku
	&__sku {
		color: #1570ef;
		font-size: 0.875rem;
		line-height: 157.143%;
	}
	// .product__pagination
	&__pagination {
	}
	// .product__details
	&__details {
	}
	// .product__title
	&__title {
		margin-top: 0.5rem;
		color: #483a2e;
		text-overflow: ellipsis;
		font-family: $font-comfortaa;
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 120%;
		letter-spacing: -0.045rem;
	}
	// .product__description
	&__description {
		margin-top: 0.5rem;
		flex: 1 1 auto;
		overflow: hidden;
		color: #535862;
		font-size: 0.875rem;
		font-weight: 400;
		line-height: 157.143%;
	}
	// .product__footer
	&__footer {
		margin-top: 0.5rem;
		padding-top: 0.5rem;
		border-top: rem(1) solid #d5d7da;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	// .product__price
	&__price {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 0.4375rem;
	}
	// .product__price-header
	&__price-header {
		display: flex;
		align-items: center;
		gap: 0.38rem;
		font-size: 0.875rem;
	}
	// .product__price-old
	&__price-old {
		color: #717680;
		text-decoration-line: line-through;
	}
	// .product__price-sale
	&__price-sale {
		color: #d92d20;
	}
	// .product__price-current
	&__price-current {
		color: #181d27;
		font-size: 1.5rem;
		font-weight: 700;
	}
}

.label {
	color: #7f56d9;
	font-size: 0.875rem;
	line-height: 114.286%;
	padding: 0.25rem 0.375rem;
	border-radius: 0.5rem;
	background: #f5f5f5;
	&--red {
		color: #d92d20;
	}
	&--yellow {
		color: #f79009;
	}
}
