@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot?55fw7j');
  src:  url('fonts/icons.eot?55fw7j#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?55fw7j') format('truetype'),
    url('fonts/icons.woff?55fw7j') format('woff'),
    url('fonts/icons.svg?55fw7j#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "\e900";
  color: #414651;
}
.icon-arrow-right:before {
  content: "\e901";
  color: #414651;
}
.icon-cart:before {
  content: "\e902";
}
.icon-check:before {
  content: "\e903";
}
.icon-chevron-down:before {
  content: "\e904";
}
.icon-chevron-right:before {
  content: "\e905";
}
.icon-clip:before {
  content: "\e906";
}
.icon-heart:before {
  content: "\e907";
}
.icon-heart-fill:before {
  content: "\e908";
}
.icon-phone-incoming:before {
  content: "\e909";
}
.icon-rutube:before {
  content: "\e90a";
}
.icon-shopping-cart:before {
  content: "\e90b";
}
.icon-stars:before {
  content: "\e90c";
}
.icon-telegram:before {
  content: "\e90d";
}
.icon-vk:before {
  content: "\e90e";
}
.icon-whatsapp:before {
  content: "\e90f";
}
.icon-youtube:before {
  content: "\e910";
}
