@use "sass:color";
@use "sass:math";
@use "mixins" as *;
@use "variables" as *;
@use "fonts";
@use "icons";

html {
	scrollbar-gutter: stable;
}

body {
	font-family: $fontfamily, sans-serif;
	font-size: 1rem;
	min-width: 320px;
	min-height: 100%;
	line-height: normal;
	background: $white;
	color: $dark;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	&.lock-mobile-menu {
		overflow: hidden;
		.wrapper {
			&::before {
				opacity: 1;
				visibility: visible;
				pointer-events: all;
			}
		}
	}
}
// ==================ОБОЛОЧКА==============================
.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow-x: clip;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba($color: $dark, $alpha: 0.45);
		backdrop-filter: blur(0.125rem);
		-webkit-backdrop-filter: blur(0.125rem);
		z-index: 5;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: opacity 0.3s ease, visibility 0.3s ease;
		cursor: pointer;
	}
}

//================== ОБОЛОЧКА==================================

//=============== ОСНОВНАЯ СЕТКА===============================

.container {
	margin: 0 auto;
	max-width: 100%;
	padding: 0 1rem;
	@media (min-width: $md5) {
		box-sizing: content-box;
		max-width: rem(540);
		padding: 0 1.25rem;
	}
	@media (min-width: $md4) {
		max-width: rem(720);
	}
	@media (min-width: $md3) {
		max-width: rem(960);
	}
	@media (min-width: $md2) {
		max-width: rem(1140);
	}
	@media (min-width: $md1) {
		max-width: rem(1320);
	}
	@media (min-width: $md0) {
		max-width: $maxWidthContainer;
	}
}

//=============== ОСНОВНАЯ СЕТКА===============================

// =======================ОСНОВНОЙ БЛОК==================
.main {
	flex: 1 1 auto;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	& > * {
		padding: rem(25) 0;
		@media (min-width: $md2) {
			padding: rem(90) 0;
		}
	}
}
// ========================================================

.hero {
	display: flex;
	// .hero__main
	&__main {
		flex: 0 0 100%;
	}
	// .hero__offer
	&__offer {
		width: 50%;
	}
	// .hero__offer-slider
	&__offer-slider {
	}
	// .hero__offer-slide
	&__offer-slide {
	}
	// .hero__offer-title
	&__offer-title {
	}
	// .hero__offer-description
	&__offer-description {
		margin-top: rem(18);
		font-size: 1.5rem;
		font-weight: 400;
		line-height: 140%;
		letter-spacing: -0.03rem;
	}
	// .hero__offer-btn
	&__offer-btn {
		margin-top: rem(48);
	}
	// .hero__offer-footer
	&__offer-footer {
	}
	// .hero__images
	&__images {
		flex: 0 0 50%;
		transform: translateX(-100%);
	}
	// .hero__image
	&__image {
	}
	// .hero__controls
	&__controls {
	}
	// .hero__prev
	&__prev {
	}
	// .hero__next
	&__next {
	}
}
