@use "sass:color";
@use "sass:math";
@use "mixins" as *;
@use "variables" as *;
@use "fonts";
@use "icons";

html {
	scrollbar-gutter: stable;
}

* {
	scroll-margin-top: 10rem;
}

body {
	font-family: $fontfamily, sans-serif;
	font-size: 1rem;
	min-width: 320px;
	min-height: 100%;
	line-height: normal;
	background: $white;
	color: $text;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	&.lock-mobile-menu {
		overflow: hidden;
		.wrapper {
			&::before {
				opacity: 1;
				visibility: visible;
				pointer-events: all;
			}
		}
	}
	&.preloading {
		// overflow: hidden;
	}
}
// ==================ОБОЛОЧКА==============================
.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow-x: clip;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba($color: $dark, $alpha: 0.45);
		backdrop-filter: blur(0.125rem);
		-webkit-backdrop-filter: blur(0.125rem);
		z-index: 5;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: opacity 0.3s ease, visibility 0.3s ease;
		cursor: pointer;
	}
}

//================== ОБОЛОЧКА==================================

//=============== ОСНОВНАЯ СЕТКА===============================

.container {
	margin: 0 auto;
	max-width: 100%;
	padding: 0 1rem;
	&.container--fluid {
		max-width: 100%;
		box-sizing: border-box;
		padding: 0 3rem;
	}
	@media (min-width: $md5) {
		box-sizing: content-box;
		max-width: rem(540);
		padding: 0 1.25rem;
	}
	@media (min-width: $md4) {
		max-width: rem(720);
	}
	@media (min-width: $md3) {
		max-width: rem(960);
	}
	@media (min-width: $md2) {
		max-width: rem(1140);
	}
	@media (min-width: $md1) {
		max-width: rem(1320);
	}
	@media (min-width: $md0) {
		max-width: $maxWidthContainer;
	}
}

//=============== ОСНОВНАЯ СЕТКА===============================

// =======================ОСНОВНОЙ БЛОК==================
.main {
	position: relative;
	z-index: $ui-index-1;
	flex: 1 1 auto;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: rem(180);
}
// ========================================================

.hero {
	display: flex;
	// .hero__main
	&__main {
		flex: 0 0 100%;
		.container {
			height: 100%;
		}
	}
	// .hero__offer
	&__offer {
		padding-top: rem(200);
		width: 50%;
		padding-right: rem(24);
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 2rem;
	}
	// .hero__offer-slider
	&__offer-slider {
		min-width: 0;
		max-width: rem(666);
		margin-left: 0;
	}
	// .hero__offer-slide
	&__offer-slide {
	}
	// .hero__offer-description
	&__offer-description {
		margin-top: rem(18);
		font-size: 1.5rem;
		font-weight: 400;
		line-height: 140%;
		letter-spacing: -0.03rem;
	}
	// .hero__offer-btn
	&__offer-btn {
		margin-top: rem(48);
	}
	// .hero__tagline
	&__tagline {
		display: flex;
		align-items: center;
		gap: 1rem;
	}
	// .hero__tagline-image
	&__tagline-image {
		width: 8.75rem;
		height: 5.25rem;
		border-radius: 62.4375rem;
		overflow: hidden;
	}
	// .hero__tagline-text
	&__tagline-text {
		color: #717680;
		font-size: 1.5rem;
		line-height: 140%;
		letter-spacing: -0.03rem;
		max-width: 25.9375rem;
	}
	// .hero__images
	&__images {
		position: relative;
		flex: 0 0 50%;
		transform: translateX(-100%);
		padding-left: 0.75rem;
		max-height: 100vh;
	}
	// .hero__image
	&__image {
		border-radius: 9.75rem 0 0 0;
		overflow: hidden;
	}
	// .hero__controls
	&__controls {
		position: absolute;
		bottom: 0;
		left: rem(11);
		z-index: $ui-index-2;
		padding: 1rem;
		background: #fff;
		color: #000;
		display: flex;
		gap: 1.25rem;
	}
	// .hero__controls-btns
	&__controls-btns {
		display: flex;
		gap: 0.5rem;
	}
	// .hero__pagination
	&__pagination {
		min-width: 4.56rem;
	}
	// .hero__prev
	&__prev {
	}
	// .hero__next
	&__next {
	}
}

.about {
	// .about__header
	&__header {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: end;
	}
	// .about__image
	&__image {
		overflow: hidden;
		border-radius: 0 6.25rem;
		margin-right: -0.75rem;
	}
	// .about__info
	&__info {
		padding-left: 5.25rem;
	}
	// .about__title
	&__title {
	}
	// .about__description
	&__description {
		margin-top: 1.5rem;
		font-size: 1rem;
		line-height: 160%;
		& em {
			line-height: 1.6;
			font-size: 1.25rem;
		}
		& p {
			&:not(:last-child) {
				margin-bottom: 1.75rem;
			}
		}
	}
	// .about__benefits
	&__benefits {
		margin-top: rem(58);
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1.5rem;
	}
	// .about__benefit
	&__benefit {
		border-radius: 4rem 0;
		border: 1px solid #d5d7da;
		background: #f0efec;
		padding: 1.5rem;
		display: flex;
		flex-direction: column;
		transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;

		@media (any-hover: hover) {
			&:hover {
				background: #2d3623;
				box-shadow: 48px 48px 56px -12px rgba(0, 0, 0, 0.25);
				color: #fff;
				.about__benefit-icon {
					filter: brightness(0) invert(1);
				}
				.about__benefit-title {
					color: #ca9b73;
				}
			}
		}
	}

	// .about__benefit-icon
	&__benefit-icon {
		margin-bottom: rem(63);
		align-self: flex-end;
		transition: filter 0.3s ease;
	}
	// .about__benefit-title
	&__benefit-title {
		color: #000;
		font-family: $font-comfortaa;
		font-size: 1.5rem;
		font-weight: 700;
		margin-top: auto;
		transition: color 0.3s ease;
	}
	// .about__benefit-description
	&__benefit-description {
		margin-top: 0.75rem;
		font-size: 0.875rem;
		line-height: 157.143%;
	}
}

.catalog {
	// .catalog__title
	&__title {
		text-align: center;
	}
	// .catalog__subtitle
	&__subtitle {
		margin-top: 0.75rem;
		text-align: center;
		font-size: 1rem;
		line-height: 160%;
	}
	// .catalog__grid
	&__grid {
		margin-top: rem(48);
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: rem(24);
	}
}

.special-offer {
	background: #2d3623;
	color: #fff;
	padding: 5rem 0;
	position: relative;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100%;

		z-index: 1;
		background-image: url("@img/special-offer-decor-line.svg");
		background-position: center 33%;
		background-size: 100% auto;
		background-repeat: no-repeat;
		@media (min-width: 3200px) {
			background-size: auto 85%;
		}
	}
	// .special-offer__body
	&__body {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1.5rem;
	}
	// .special-offer__main
	&__main {
		position: relative;
		z-index: 2;
		max-width: 38.125rem;
		margin: 2.5rem auto 0;
	}
	// .special-offer__title
	&__title {
	}
	// .special-offer__subtitle
	&__subtitle {
		border-top: rem(1) solid #535862;
		padding-top: 1.5rem;
		margin-top: 1.5rem;
		font-size: 1.125rem;
		line-height: 160%;
	}
	// .special-offer__btn
	&__btn {
		margin-top: 1.5rem;
	}
	// .special-offer__image-wrapper
	&__image-wrapper {
		position: relative;
	}
	// .special-offer__label
	&__label {
		width: rem(140);
		height: rem(140);
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='134' height='140' viewBox='0 0 134 140' fill='none'%3E%3Cpath d='M66.574 0L107.719 13.3688L133.148 48.3688V91.6312L107.719 126.631L66.574 140L25.429 126.631L1.52588e-05 91.6312V48.3688L25.429 13.3688L66.574 0Z' fill='%23FCD043'/%3E%3C/svg%3E");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		transform: rotate(-15deg);
		position: absolute;
		z-index: 2;
		top: 3.62rem;
		left: rem(-70);
		filter: drop-shadow(rem(-14) rem(14) rem(32) rgba(0, 0, 0, 0.4));
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		padding: 1.75rem;
		font-family: $font-comfortaa;
		font-size: 1.625rem;
		line-height: 120%;
		letter-spacing: -0.04875rem;
		color: #585858;
		& span {
			color: #000;
			font-size: 2.25rem;
			letter-spacing: -0.0675rem;
		}
	}
	// .special-offer__image
	&__image {
		border-radius: 2rem;
		overflow: hidden;
	}
}

.cert {
	// .cert__body
	&__body {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1.5rem;
	}
	// .cert__offer
	&__offer {
		padding: 3.6rem 2rem 0 0;
	}
	// .cert__title
	&__title {
	}
	// .cert__subtitle
	&__subtitle {
		margin-top: 0.75rem;
		font-size: 1.375rem;
		line-height: 160%;
		max-width: 41.625rem;
	}
	// .cert__btn
	&__btn {
		margin-top: 2rem;
	}
	// .cert__widget
	&__widget {
		border-radius: 1.5rem;
		background: #e9eaeb;
		color: #000;
		height: 37.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-family: $font-comfortaa;
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 120%;
		letter-spacing: -0.045rem;
	}
}

.steps {
	// .steps__header
	&__header {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 2.62rem;
	}
	// .steps__title
	&__title {
	}
	// .steps__subtitle
	&__subtitle {
		font-size: 1.5rem;
		line-height: 160%;
		border-left: 0.0625rem solid #d5d7da;
		padding: 0.19rem 0 0.19rem 2.62rem;
		& span {
			color: #a1a1a1;
		}
	}
	// .steps__body
	&__body {
		margin-top: 3.5rem;
		display: flex;
		align-items: flex-start;
		gap: rem(36);
	}
	// .steps__list
	&__list {
		display: flex;
		gap: rem(2);
	}
	// .steps__item
	&__item {
		border-radius: 1rem;
		background: #e9eaeb;
		flex-shrink: 0;
		width: rem(90);
		transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
		padding: rem(32) rem(24);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		overflow: hidden;
		cursor: pointer;
		&.active {
			cursor: default;
			background: #2d3623;
			color: #fff;
			width: rem(700);
			padding: rem(32);
			flex-direction: row;
			.steps__item-title {
				width: 100%;
				height: auto;
				transform: none;
			}
			.steps__item-image {
				width: 560px;
				height: 364px;
				opacity: 1;
			}
			.steps__item-subtitle {
				display: block;
				opacity: 1;
			}
			.steps__item-hint {
				display: block;
				opacity: 1;
			}
			.steps__item-number {
				writing-mode: horizontal-tb;
				transform: none;
				order: 0;
				color: #ca9b73;
			}
		}
	}
	// .steps__item-content
	&__item-content {
	}
	// .steps__item-image
	&__item-image {
		padding-right: 1rem;
		width: 0;
		height: 0;
		overflow: hidden;
		opacity: 0;
		transition: opacity 0.5s ease-in-out;
		& img {
			border-radius: rem(12);
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	// .steps__item-title
	&__item-title {
		margin-top: 1.5rem;
		font-family: $font-comfortaa;
		font-size: 1.75rem;
		font-weight: 700;
		line-height: 120%;
		letter-spacing: -0.0525rem;
		white-space: nowrap;
		width: rem(10);
		height: rem(10);
		transform: rotate(-90deg);
		transform-origin: left bottom;
		transition: transform 0.3s ease-in-out;
	}
	// .steps__item-subtitle
	&__item-subtitle {
		margin-top: 0.5rem;
		color: #d5d7da;
		font-size: 1rem;
		line-height: 160%;
		display: none;
		opacity: 0;
		transition: opacity 0.5s ease-in-out;
	}
	// .steps__item-hint
	&__item-hint {
		display: none;
		align-self: flex-start;
		flex-shrink: 0;
		margin-right: 1rem;
		opacity: 0;
		transition: opacity 0.5s ease-in-out;
	}
	// .steps__item-number
	&__item-number {
		color: #717680;
		font-family: $font-comfortaa;
		font-size: 2.625rem;
		font-weight: 700;
		line-height: 100%;
		letter-spacing: -0.07875rem;
		order: -1;
		writing-mode: vertical-lr;
		transform: rotate(180deg);
		align-self: flex-start;
		transition: color 0.3s ease-in-out;
	}
	// .steps__terms
	&__terms {
		border-radius: 1rem;
		background: #efe7d9;
		color: #483a2e;
		width: 33rem;
		padding: 2rem 3rem;
		flex-shrink: 0;
		margin-left: auto;
	}
	// .steps__terms-title
	&__terms-title {
		font-family: $font-comfortaa;
		font-size: 2.625rem;
		font-weight: 600;
		line-height: 120%;
		letter-spacing: -0.07875rem;
		padding-bottom: 1.5rem;
		border-bottom: rem(1) solid #d5d7da;
	}
	// .steps__terms-btn
	&__terms-btn {
		margin-top: 1.5rem;
	}
}

.reviews {
	background: #201c18;
	color: #fff;
	padding: 5rem 0 4.31rem;
	// .reviews__header
	&__header {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		gap: 1.5rem;
	}
	// .reviews__info
	&__info {
		display: flex;
		align-items: center;
		gap: 1.5rem;
	}
	// .reviews__title
	&__title {
	}
	// .reviews__subtitle
	&__subtitle {
		color: #d5d7da;
		font-size: 1rem;
		line-height: 160%;
		border-left: 0.0625rem solid #d5d7da;
		padding: 0.56rem 0 0.56rem 1.5rem;
	}
	// .reviews__controls
	&__controls {
		margin-left: auto;
		display: flex;
		align-items: center;
		gap: rem(20);
	}
	// .reviews__controls-btns
	&__controls-btns {
		display: flex;
		gap: 0.5rem;
	}
	// .reviews__pagination
	&__pagination {
		margin-right: 0.75rem;
		--swiper-pagination-fraction-color: #efcb92;
	}
	// .reviews__prev
	&__prev {
	}
	// .reviews__next
	&__next {
	}
	// .reviews__switcher
	&__switcher {
		margin-top: 1.5rem;
	}
	// .reviews__content
	&__content {
		margin-top: 1.5rem;
	}
	// .reviews__text
	&__text {
	}
	// .reviews__slider
	&__slider {
	}
	// .reviews__slide
	&__slide {
		border-radius: rem(16);
		overflow: hidden;
	}
	// .reviews__screenshots
	&__screenshots {
	}
}

.review-card {
	border-radius: 1rem;
	background: #252820;
	color: #d5d7da;
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	// .review-card__header
	&__header {
		display: flex;
		align-items: center;
		gap: 0.75rem;
		font-size: 1rem;
		line-height: 150%;
	}
	// .review-card__place
	&__place {
		font-weight: 700;
	}
	// .review-card__time
	&__time {
	}
	// .review-card__quote
	&__quote {
		font-size: 1rem;
		line-height: 150%;
	}
	// .review-card__footer
	&__footer {
		margin-top: 1.5rem;
		display: flex;
		align-items: center;
		gap: 0.75rem;
	}
	// .review-card__thumb
	&__thumb {
		width: 3.5rem;
		height: 3.5rem;
		flex-shrink: 0;
		border-radius: 50%;
		background: #d0d5dd;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.5rem;
		color: #000;
		font-weight: 700;
		& img {
			border: rem(1) solid #d0d5dd;
			border-radius: 50%;
		}
	}
	// .review-card__person
	&__person {
	}
	// .review-card__person-name
	&__person-name {
		color: #fff;
		font-size: 1rem;
		font-weight: 700;
		line-height: 150%;
	}
	// .review-card__person-info
	&__person-info {
		margin-top: rem(2);
		font-size: 0.75rem;
		line-height: 140%;
		& a {
			text-decoration: underline;
			color: #53b1fd;
			@media (any-hover: hover) {
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}

.gift {
	// .gift__body
	&__body {
		border-radius: 2.625rem;
		padding: 3rem;
		display: grid;
		align-items: center;
		grid-template-columns: repeat(2, 1fr);
		border: rem(1) solid #bfae9f;
		gap: 2rem;
	}
	// .gift__image
	&__image {
		border-radius: 1.5rem;
		overflow: hidden;
	}
	// .gift__content
	&__content {
	}
	// .gift__title
	&__title {
	}
	// .gift__subtitle
	&__subtitle {
		border-top: rem(1) solid #d5d7da;
		padding-top: 1.5rem;
		margin-top: 1.5rem;
		font-size: 1.125rem;
		line-height: 160%;
	}
	// .gift__btn
	&__btn {
		margin-top: 1.5rem;
	}
}

.contacts {
	padding: rem(40) 0;
	@media (min-width: $md3) {
		padding: 5rem 0;
	}
	// .contacts__container
	&__container {
	}
	// .contacts__hint
	&__hint {
		text-align: center;
		justify-content: flex-start;
	}
	// .contacts__title
	&__title {
		text-align: right;
		@media (min-width: $md2) {
			font-size: 3rem;
		}
	}
	// .contacts__body
	&__body {
		display: flex;
		gap: 5rem;
		flex-direction: column;
		&:not(:first-child) {
			margin-top: 1.5rem;
		}
		@media (min-width: $md3) {
			flex-direction: row;
			&:not(:first-child) {
				margin-top: 2.63rem;
			}
		}
		@media (min-width: $md1) {
			gap: 6.25rem;
		}
	}
	// .contacts__map
	&__map {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		&:first-child:last-child {
			@media (min-width: $md2) {
				.contacts__list {
					border-radius: 1.5rem;
					background: #f5f5f5;
					padding: 1.5rem 5rem;
					margin-top: 1.5rem;
				}
				.contacts__caption {
					font-size: 1.75rem;
					line-height: 128.571%;
				}
				.contacts__link {
					&[href*="mailto:"] {
						font-size: 1.5rem;
					}
				}
			}
			.contacts__list-item {
				@media (min-width: $md2) {
					border-color: #d5d7da;
					&:last-child {
						padding-right: 0;
					}
				}
				@media (min-width: $md0) {
					max-width: 100%;
				}
			}
		}
	}
	// .contacts__map-caption
	&__map-caption {
		display: contents;
		@media (min-width: $md2) {
			position: relative;
			padding: rem(24);
			display: block;
		}
		@media (min-width: $md0) {
			padding: rem(48);
		}
		.contacts__map-header {
			@media (min-width: $md2) {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 1;
			}
		}
		& .contacts__form {
			margin-top: 5rem;
			@media (min-width: $md2) {
				margin-top: 0;
				position: relative;
				z-index: 2;
				background: #fff;
				padding: rem(24) rem(32);
				max-width: rem(454);
				margin-left: auto;
				border-radius: 1.5rem;
				box-shadow: rem(-12) rem(12) rem(42) 0 rgba(0, 0, 0, 0.25);
			}
		}
	}
	// .contacts__map-header
	&__map-header {
		position: relative;
		height: 34.375rem;
		z-index: 1;
		background: #2d3623;
		border-radius: 1.5rem;
		overflow: hidden;
		margin: 0 -1rem;

		@media (min-width: $md5) {
			width: 100%;
			margin: 0;
		}
	}
	// .contacts__map-block
	&__map-block {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	// .contacts__list
	&__list {
		margin-top: 2rem;
		display: grid;
		gap: 1rem;
		@media (min-width: $md5) {
			gap: 2.28rem;
			grid-template-columns: repeat(2, 1fr);
		}
		@media (min-width: $md0) {
			display: flex;
			justify-content: space-between;
		}
	}
	// .contacts__list-item
	&__list-item {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		break-inside: avoid;
		padding-right: 2rem;
		border-color: #e9eaeb;
		border-style: solid;

		@media (max-width: $md5) {
			padding-right: 0;
			&:not(:last-child) {
				padding-bottom: 1rem;
				border-right-width: rem(1);
			}
		}
		@media (max-width: $md0) {
			@media (min-width: $md5) {
				&:nth-child(odd) {
					border-right-width: rem(1);
				}
			}
		}
		@media (min-width: $md0) {
			max-width: 18rem;
			&:not(:last-child) {
				border-right-width: rem(1);
			}
		}
	}
	// .contacts__row
	&__row {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		@media (min-width: $md4) {
			flex-direction: row;
			gap: 1rem;
			align-items: center;
			.socials {
				margin-top: 0;
			}
			.contacts__link {
				font-size: 1.5rem;
				color: $accent;
				font-weight: 600;
				transition: color 0.3s ease;
				@media (any-hover: hover) {
					&:hover {
						color: #1570ef;
					}
				}
			}
		}
	}
	// .contacts__caption
	&__caption {
		font-size: 1.375rem;
		font-weight: 500;
		line-height: 109.091%;
		margin-bottom: 0.62rem;
	}
	// .contacts__text
	&__text {
		color: #535862;
		font-size: 1.125rem;
		line-height: 122.222%;
	}
	// .contacts__link
	&__link {
		font-size: 1.125rem;
		line-height: 122.222%;
		font-size: 1.125rem;
		line-height: 122.222%;
		color: #535862;
		&[href*="mailto:"] {
			color: #1570ef;
		}
	}
	// .contacts__socials
	&__socials {
		margin-top: 0.81rem;
	}
	// .contacts__form
	&__form {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 2rem;
		// order: 1;
		@media (min-width: $md3) {
			gap: rem(42);
			flex: 0 0 24.2rem;
		}
		@media (min-width: $md0) {
			flex: 0 0 28.2rem;
			padding-right: rem(62);
		}
	}
	// .contacts__form-caption
	&__form-caption {
		font-size: 1.75rem;
		font-weight: 600;
		line-height: 128.571%;
	}
	// .contacts__form-text
	&__form-text {
		margin-top: rem(18);
		color: #535862;
		font-size: 1.125rem;
		line-height: 122.222%;
	}
	// .contacts__form-fields
	&__form-fields {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}
	// .contacts__form-field
	&__form-field {
	}
}

.socials {
	// .socials__link
	&__link {
		.icon-telegram {
		}
		.icon-whatsapp {
		}
	}
}
