@use "sass:color";
@use "sass:math";
@use "mixins" as *;
@use "variables" as *;
@use "fonts";
@use "icons";

html {
	scrollbar-gutter: stable;
}

* {
	scroll-margin-top: 10rem;
}

body {
	font-family: $fontfamily, sans-serif;
	font-size: 1rem;
	min-width: 320px;
	min-height: 100%;
	line-height: normal;
	background: $white;
	color: $text;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	&.lock-mobile-menu {
		overflow: hidden;
		.wrapper {
			&::before {
				opacity: 1;
				visibility: visible;
				pointer-events: all;
			}
		}
	}
	&.preloading {
		// overflow: hidden;
	}
}
// ==================ОБОЛОЧКА==============================
.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow-x: clip;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba($color: $dark, $alpha: 0.45);
		backdrop-filter: blur(0.125rem);
		-webkit-backdrop-filter: blur(0.125rem);
		z-index: 5;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: opacity 0.3s ease, visibility 0.3s ease;
		cursor: pointer;
	}
}

//================== ОБОЛОЧКА==================================

//=============== ОСНОВНАЯ СЕТКА===============================

.container {
	margin: 0 auto;
	max-width: 100%;
	padding: 0 1rem;
	&.container--fluid {
		max-width: 100%;
		box-sizing: border-box;
		padding: 0 3rem;
	}
	@media (min-width: $md5) {
		box-sizing: content-box;
		max-width: rem(540);
		padding: 0 1.25rem;
	}
	@media (min-width: $md4) {
		max-width: rem(720);
	}
	@media (min-width: $md3) {
		max-width: rem(960);
	}
	@media (min-width: $md2) {
		max-width: rem(1140);
	}
	@media (min-width: $md1) {
		max-width: rem(1320);
	}
	@media (min-width: $md0) {
		max-width: $maxWidthContainer;
	}
}

//=============== ОСНОВНАЯ СЕТКА===============================

// =======================ОСНОВНОЙ БЛОК==================
.main {
	position: relative;
	z-index: $ui-index-1;
	flex: 1 1 auto;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: rem(180);
}
// ========================================================

.hero {
	display: flex;
	// .hero__main
	&__main {
		flex: 0 0 100%;
		.container {
			height: 100%;
		}
	}
	// .hero__offer
	&__offer {
		padding-top: rem(200);
		width: 50%;
		padding-right: rem(24);
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 2rem;
	}
	// .hero__offer-slider
	&__offer-slider {
		min-width: 0;
		max-width: rem(670);
		margin-left: 0;
	}
	// .hero__offer-slide
	&__offer-slide {
	}
	// .hero__offer-description
	&__offer-description {
		margin-top: rem(18);
		font-size: 1.5rem;
		font-weight: 400;
		line-height: 140%;
		letter-spacing: -0.03rem;
	}
	// .hero__offer-btn
	&__offer-btn {
		margin-top: rem(48);
	}
	// .hero__tagline
	&__tagline {
		display: flex;
		align-items: center;
		gap: 1rem;
	}
	// .hero__tagline-image
	&__tagline-image {
		width: 8.75rem;
		height: 5.25rem;
		border-radius: 62.4375rem;
		overflow: hidden;
	}
	// .hero__tagline-text
	&__tagline-text {
		color: #717680;
		font-size: 1.5rem;
		line-height: 140%;
		letter-spacing: -0.03rem;
		max-width: 25.9375rem;
	}
	// .hero__images
	&__images {
		position: relative;
		flex: 0 0 50%;
		transform: translateX(-100%);
		padding-left: 0.75rem;
		max-height: 100vh;
	}
	// .hero__image
	&__image {
		border-radius: 9.75rem 0 0 0;
		overflow: hidden;
	}
	// .hero__controls
	&__controls {
		position: absolute;
		bottom: 0;
		left: rem(11);
		z-index: $ui-index-2;
		padding: 1rem;
		background: #fff;
		color: #000;
		display: flex;
		gap: 1.25rem;
	}
	// .hero__controls-btns
	&__controls-btns {
		display: flex;
		gap: 0.5rem;
	}
	// .hero__pagination
	&__pagination {
		min-width: 4.56rem;
	}
	// .hero__prev
	&__prev {
	}
	// .hero__next
	&__next {
	}
}

.about {
	// .about__header
	&__header {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: end;
	}
	// .about__image
	&__image {
		overflow: hidden;
		border-radius: 0 6.25rem;
		margin-right: -0.75rem;
	}
	// .about__info
	&__info {
		padding-left: 5.25rem;
	}
	// .about__title
	&__title {
	}
	// .about__description
	&__description {
		margin-top: 1.5rem;
		font-size: 1rem;
		line-height: 160%;
		& em {
			line-height: 1.6;
			font-size: 1.25rem;
		}
		& p {
			&:not(:last-child) {
				margin-bottom: 1.75rem;
			}
		}
	}
	// .about__benefits
	&__benefits {
		margin-top: rem(58);
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1.5rem;
	}
	// .about__benefit
	&__benefit {
		border-radius: 4rem 0;
		border: 1px solid #d5d7da;
		background: #f0efec;
		padding: 1.5rem;
		display: flex;
		flex-direction: column;
		transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;

		@media (any-hover: hover) {
			&:hover {
				background: #2d3623;
				box-shadow: 48px 48px 56px -12px rgba(0, 0, 0, 0.25);
				color: #fff;
				.about__benefit-icon {
					filter: brightness(0) invert(1);
				}
				.about__benefit-title {
					color: #ca9b73;
				}
			}
		}
	}

	// .about__benefit-icon
	&__benefit-icon {
		margin-bottom: rem(63);
		align-self: flex-end;
		transition: filter 0.3s ease;
	}
	// .about__benefit-title
	&__benefit-title {
		color: #000;
		font-family: $font-comfortaa;
		font-size: 1.5rem;
		font-weight: 700;
		margin-top: auto;
		transition: color 0.3s ease;
	}
	// .about__benefit-description
	&__benefit-description {
		margin-top: 0.75rem;
		font-size: 0.875rem;
		line-height: 157.143%;
	}
}

.catalog {
	// .catalog__title
	&__title {
		text-align: center;
	}
	// .catalog__subtitle
	&__subtitle {
		margin-top: 0.75rem;
		text-align: center;
		font-size: 1rem;
		line-height: 160%;
	}
	// .catalog__grid
	&__grid {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
}

.special-offer {
	// .special-offer__body
	&__body {
	}
	// .special-offer__main
	&__main {
	}
	// .special-offer__title
	&__title {
	}
	// .special-offer__subtitle
	&__subtitle {
	}
	// .special-offer__image-wrapper
	&__image-wrapper {
	}
	// .special-offer__label
	&__label {
	}
	// .special-offer__image
	&__image {
	}
}

.cert {
	// .cert__body
	&__body {
	}
	// .cert__offer
	&__offer {
	}
	// .cert__title
	&__title {
	}
	// .cert__subtitle
	&__subtitle {
	}
	// .cert__widget
	&__widget {
	}
}

.steps {
	// .steps__header
	&__header {
	}
	// .steps__title
	&__title {
	}
	// .steps__subtitle
	&__subtitle {
	}
	// .steps__body
	&__body {
	}
	// .steps__list
	&__list {
	}
	// .steps__item
	&__item {
	}
	// .steps__item-content
	&__item-content {
	}
	// .steps__item-image
	&__item-image {
	}
	// .steps__item-title
	&__item-title {
	}
	// .steps__item-subtitle
	&__item-subtitle {
	}
	// .steps__item-hint
	&__item-hint {
	}
	// .steps__item-number
	&__item-number {
	}
	// .steps__terms
	&__terms {
	}
	// .steps__terms-title
	&__terms-title {
	}
}

.reviews {
	// .reviews__header
	&__header {
	}
	// .reviews__info
	&__info {
	}
	// .reviews__title
	&__title {
	}
	// .reviews__subtitle
	&__subtitle {
	}
	// .reviews__controls
	&__controls {
	}
	// .reviews__pagination
	&__pagination {
	}
	// .reviews__prev
	&__prev {
	}
	// .reviews__next
	&__next {
	}
	// .reviews__switcher
	&__switcher {
	}
	// .reviews__content
	&__content {
	}
	// .reviews__text
	&__text {
	}
	// .reviews__slider
	&__slider {
	}
	// .reviews__slide
	&__slide {
	}
	// .reviews__screenshots
	&__screenshots {
	}
}

.switcher {
	// .switcher__item
	&__item {
	}
	// .switcher__btn
	&__btn {
	}
}

.review-card {
	// .review-card__header
	&__header {
	}
	// .review-card__place
	&__place {
	}
	// .review-card__time
	&__time {
	}
	// .review-card__qoute
	&__qoute {
	}
	// .review-card__footer
	&__footer {
	}
	// .review-card__thumb
	&__thumb {
	}
	// .review-card__person
	&__person {
	}
	// .review-card__person-name
	&__person-name {
	}
	// .review-card__person-info
	&__person-info {
	}
}

.gift {
	// .gift__body
	&__body {
	}
	// .gift__image
	&__image {
	}
	// .gift__content
	&__content {
	}
	// .gift__title
	&__title {
	}
	// .gift__subtitle
	&__subtitle {
	}
}

.contacts {
	// .contacts__title
	&__title {
	}
	// .contacts__body
	&__body {
	}
	// .contacts__form
	&__form {
	}
	// .contacts__form-header
	&__form-header {
	}
	// .contacts__form-caption
	&__form-caption {
	}
	// .contacts__form-text
	&__form-text {
	}
	// .contacts__form-fields
	&__form-fields {
	}
	// .contacts__form-field
	&__form-field {
	}
	// .contacts__form-field--large
	&__form-field--large {
	}
	// .contacts__map
	&__map {
	}
	// .contacts__map-header
	&__map-header {
	}
	// .contacts__map-block
	&__map-block {
	}
	// .contacts__list
	&__list {
	}
	// .contacts__list-item
	&__list-item {
	}
	// .contacts__caption
	&__caption {
	}
	// .contacts__text
	&__text {
	}
	// .contacts__link
	&__link {
	}
	// .contacts__socials
	&__socials {
	}
}

.form {
	// .form__field
	&__field {
	}
	// .form__control
	&__control {
	}
	// .form__file
	&__file {
	}
	// .form__file-input
	&__file-input {
	}
	// .form__file-btn
	&__file-btn {
	}
	// .form__btn
	&__btn {
	}
	// .form__policy
	&__policy {
	}
}

.socials {
	// .socials__link
	&__link {
		.icon-telegram {
		}
		.icon-whatsapp {
		}
	}
}
