@use "sass:color";
@use "sass:math";
@use "mixins" as *;
@use "variables" as *;
@use "fonts";
@use "icons";

.footer {
	position: relative;
	z-index: 3;
	background: #2d3623;
	color: #ffffff;

	// .footer__top
	&__top {
		padding: rem(42) rem(26);
		@media (min-width: $md3) {
			padding: 3.13rem 0 2.25rem;
		}
	}
	// .footer__header
	&__header {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		gap: 1.5rem;
		row-gap: rem(42);
		@media (min-width: $md2) {
			gap: 1rem;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
		}
		@media (min-width: $md1) {
			flex-wrap: nowrap;
		}
	}
	// .footer__side
	&__side {
		display: flex;
		align-items: center;
		gap: 1.75rem;
		justify-content: space-between;
		@media (min-width: $md5) {
			justify-content: flex-start;
		}
		@media (min-width: $md2) {
			order: -1;
			flex: 0 0 50%;
		}
		@media (min-width: $md1) {
			flex-direction: column;
			align-items: flex-start;
			flex: 0 0 10.25rem;
		}
	}
	// .footer__logo
	&__logo {
		display: block;
		width: 4.0625rem;
		@media (min-width: $md4) {
			width: 8.625rem;
		}
		& img {
			width: 100%;
		}
	}
	// .footer__reqs
	&__reqs {
		line-height: 156%;
		letter-spacing: -0.00625rem;
		font-size: 0.875rem;
		max-width: 22rem;
	}
	// .footer__menu
	&__menu {
		display: contents;
		@media (min-width: $md2) {
			display: flex;
			justify-content: space-between;
			align-items: center;
			align-self: flex-start;
			flex: 0 0 50%;
			flex-direction: column;
		}
		.menu__list {
			width: 100%;
			justify-content: center;
			gap: 1.5rem;
		}
		@media (min-width: $md1) {
			align-self: flex-end;
			flex: 1 1 auto;
		}

		@media (min-width: 1299.98px) {
			.submenu {
				top: auto;
				bottom: 100%;
				padding-top: 0;
				padding-bottom: 0.25rem;
				transform: translate3d(0, 0.5rem, 1px);
			}
		}
		@media (max-width: 1299.98px) {
			.submenu__contacts {
				display: none;
			}
		}
	}
	// .footer__callback
	&__callback {
		&.btn {
			flex-shrink: 0;
			align-self: flex-end;
			gap: 0.38rem;
			font-size: 0.875rem;
			padding: 0.75rem 0.875rem;
			&::before {
				order: -1;
				width: 1.125rem;
				height: 1.125rem;
				font-size: 1.125rem;
			}
		}
	}
	&__body {
		margin-top: 2.88rem;
		display: flex;
		align-items: flex-end;
		padding-right: 13rem;
	}
	// .footer__policies
	&__policies {
		order: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 1rem;
		margin: 0 auto;
		@media (min-width: $md4) {
			gap: 2.62rem;
			flex-wrap: wrap;
			flex-direction: row;
		}
	}
	// .footer__policy
	&__policy {
	}
	// .footer__policy-link
	&__policy-link {
		color: rgba($color: #fff, $alpha: 0.5);
		line-height: 133.333%;
		text-decoration-line: underline;
		font-size: 1.125rem;
		@media (min-width: $md2) {
			font-size: 1rem;
		}
		@media (min-width: $md0) {
			font-size: 1.125rem;
		}
		@media (any-hover: hover) {
			&:hover {
				text-decoration: none;
				color: $accent;
			}
		}
	}

	// .footer__bottom
	&__bottom {
		position: relative;
		background: #201b18;
		padding: rem(24) rem(12);
		text-align: center;
		@media (min-width: $md3) {
			text-align: left;
		}
		@media (min-width: $md2) {
			padding: rem(10) 0;
		}
		.container {
			display: flex;
			flex-direction: column;
			align-items: center;
			@media (min-width: $md3) {
				flex-direction: row;
				justify-content: space-between;
			}
		}
	}
	// .footer__copy
	&__copy {
		font-size: 1rem;
		line-height: 150%;
		letter-spacing: -0.00625rem;
	}
	// .footer__socials
	&__socials {
		gap: 0.75rem;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	// .footer__prod
	&__prod {
		@media (max-width: $md4) {
			margin-top: 0.5rem;
			max-width: rem(130);
		}
		@media (min-width: $md3) {
			text-align: right;
		}
	}
}
