@use "sass:color";
@use "sass:math";
@use "mixins" as *;
@use "variables" as *;
@use "fonts";
@use "icons";

.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: $ui-index-6;
	padding: 1.5rem 0;
	&.scroll {
		.header__menu {
			&::before {
				box-shadow: -0.5rem 0.5rem 1rem 0 rgba(0, 0, 0, 0.05);
			}
		}
	}
	// .header__wrapper
	&__wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		position: fixed;
		top: 1.25rem;
		left: 0;
		width: 100%;
		z-index: $ui-index-1;
	}
	// .header__logo
	&__logo {
		position: relative;
		z-index: $ui-index-2;
		display: block;
		max-width: rem(142);
		@media (min-width: $md1) {
			max-width: rem(191);
		}
	}
	// .header__menu
	&__menu {
		border-radius: 0.75rem;
		padding: 0 rem(18);
		margin: 0 rem(200);
		position: relative;
		z-index: 1;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 0.75rem;
			transition: box-shadow 0.3s ease;
			background: rgba(255, 255, 255, 0.85);
			backdrop-filter: blur(rem(9));
			-webkit-backdrop-filter: blur(rem(9));
			z-index: -1;
		}
		.menu__link {
			padding: 1rem 0;
			background: transparent !important;
		}
		.menu__item {
			position: relative;
			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				pointer-events: none;
				opacity: 0;
				transition: opacity 0.3s ease;
				height: rem(2);
				background-color: #bca081;
			}
			@media (any-hover: hover) {
				&:hover {
					&::after {
						opacity: 1;
					}
				}
			}
		}
	}
	// .header__actions
	&__actions {
		display: flex;
		border-radius: 0.75rem 0 0 0.75rem;
		box-shadow: rem(-16) 1rem 1.5rem 0 rgba(0, 0, 0, 0.2);
		position: fixed;
		top: 1.25rem;
		right: 0;
		z-index: $ui-index-2;
	}
	// .header__action
	&__action {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0.06rem;
		padding: 0.75rem 1rem;
		min-height: 3.75rem;
		background: #504841;
		color: #fff;
		transition: background-color 0.3s ease;
		&::before {
			width: 2rem;
			height: 2rem;
			font-size: 2rem;
		}
		&.icon-phone-incoming {
			background: #efcb92;
			color: $dark;
			border-radius: 0.75rem 0 0 0.75rem;

			@media (any-hover: hover) {
				&:hover {
					background: #e2c08b;
				}
			}
		}
		&.icon-cart {
			padding: 0.75rem 2.5rem 0.75rem 1.375rem;
			width: rem(94);
			&:has(.header__action-quantity) {
				padding-right: 2.5rem;
			}
			@media (any-hover: hover) {
				&:hover {
					background-color: color.adjust($color: #504841, $lightness: -10%);
				}
			}
		}
	}
	// .header__action-quantity
	&__action-quantity {
		position: absolute;
		top: rem(10);
		right: rem(17);
		min-width: 1.25rem;
		height: 1.25rem;
		border-radius: 1rem;
		background: #ff9c66;
		color: #181d27;
		padding: 0.125rem 0.25rem;
		text-align: center;
		font-size: 0.75rem;
		line-height: 133.333%;
		animation: scale-in 0.3s ease-in-out forwards;
		@keyframes scale-in {
			0% {
				transform: scale(0);
			}
			100% {
				transform: scale(1);
			}
		}
	}
	// .header__menu-toggler
	&__menu-toggler {
	}
}

.menu {
	// @media (max-width: 1299.98px) {
	// 	position: fixed;
	// 	top: 0;
	// 	right: 0;
	// 	width: rem(340);
	// 	height: 100%;
	// 	z-index: 8;
	// 	transition: transform 0.3s ease, box-shadow 0.3s ease;
	// 	transform: translateX(100%);
	// 	border-radius: 1rem 0 0 1rem;
	// 	padding: 1.33rem 2rem;
	// 	overflow-y: auto;
	// 	&.menu--open {
	// 		box-shadow: rem(-16) rem(4) rem(32) 0 rgba(0, 0, 0, 0.28);
	// 		transform: none;
	// 	}
	// }
	// @media (min-width: 1299.98px) {
	// 	display: flex;
	// 	justify-content: center;
	// 	flex: 1 1 auto;
	// }

	// .menu__list
	&__list {
		display: flex;
		gap: rem(10);
		flex-direction: column;
		gap: 0.5rem;
		&:not(:last-child) {
			@media (max-width: $md2) {
				margin-bottom: 0.5rem;
			}
		}
		@media (min-width: $md2) {
			flex-direction: row;
			gap: 1.5rem;
		}
		@media (min-width: $md1) {
			gap: 2.5rem;
		}
		@media (min-width: $md0) {
			gap: 4rem;
		}
	}
	// .menu__item
	&__item {
		position: relative;
		&.menu__item--parent {
			display: flex;
			align-items: center;
			gap: em(8);
			@media (any-hover: hover) {
				&:hover {
					.menu__arrow {
						&::before {
							transform: rotate(180deg);
						}
					}
					.submenu {
						opacity: 1;
						visibility: visible;
						transform: none;
					}
				}
			}
			&.active {
				.menu__arrow {
					&::before {
						transform: rotate(180deg);
					}
				}
				.submenu {
					opacity: 1;
					visibility: visible;
					transform: none;
				}
			}
		}
	}
	// .menu__link
	&__link {
		line-height: 144.444%;
		display: inline-flex;
		justify-content: space-between;
		align-items: center;
		border-radius: em(0.5, 1.125);
		padding: em(0.375, 1.125) em(0.75, 1.125);
		gap: em(8);
		transition: background-color 0.3s ease, color 0.3s ease;
		font-size: 1rem;
		border-radius: 0.375rem;
		background: #252b37;
		width: 100%;
		min-height: rem(40);
		&.active {
			color: #181d27;
			background: $accent;
		}
		@media (min-width: $md2) {
			background: transparent;
			width: auto;
			min-height: auto;
			font-size: 1rem;
		}
		@media (min-width: $md0) {
			font-size: 1.125rem;
			line-height: math.div(1.5, 1.125);
		}
		@media (any-hover: hover) {
			&:hover {
				color: #181d27;
				background: $accent;
			}
		}
	}
	// .menu__arrow
	&__arrow {
		position: relative;
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 1.5rem;
			height: 1.5rem;
		}
		&::before {
			transition: transform 0.3s ease;
		}
	}
	// .menu__btn
	&__btn {
		@extend .menu__link;
		&::before {
			flex-shrink: 0;
			order: 1;
			width: 1em;
			height: 1em;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: transform 0.3s ease;
		}
	}
}

.submenu {
	display: none;
	margin-top: 0.5rem;

	@media (min-width: $md2) {
		margin-top: 0;
		position: absolute;
		display: block !important;
		z-index: 2;
		top: 100%;
		right: 0;
		padding-top: 0.25rem;
		opacity: 0;
		visibility: hidden;
		transform: translate3d(0, -0.5rem, 1px);
		transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	}
	// .submenu__list
	&__list {
		border-radius: 0.5rem;
		box-shadow: 0 rem(12) 1rem rem(-4) rgba(32, 32, 32, 0.36);
		padding: rem(6);
		background: rgba(255, 255, 255, 0.85);
		color: $text;
		backdrop-filter: blur(rem(9));
		-webkit-backdrop-filter: blur(rem(9));
		@media (min-width: $md2) {
			white-space: nowrap;
			min-width: rem(325);
			width: fit-content;
		}
	}
	// .submenu__item
	&__item {
	}
	// .submenu__link
	&__link {
		line-height: 133.333%;
		padding: 0.75rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 0.5rem;
		border-radius: 0.375rem;
		transition: background-color 0.3s ease, color 0.3s ease;
		font-size: 1.125rem;
		@media (min-width: 1299.98px) {
			font-size: 1rem;
		}
		@media (min-width: $md0) {
			font-size: 1.125rem;
		}
		&::before {
			order: 1;
			width: 1.25rem;
			height: 1.25rem;
		}
		&.active {
			background: #efcb92;
			color: #181d27;
		}
		@media (any-hover: hover) {
			&:hover {
				background: #efcb92;
				color: #181d27;
			}
		}
	}
	// .submenu__contacts
	&__contacts {
		padding: 0.75rem 0;
		@media (min-width: 1299.89px) {
			padding: rem(12) rem(12) rem(4);
			min-width: rem(310);
		}
	}
	// .submenu__contacts-block
	&__contacts-block {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		@media (max-width: 1299.98px) {
			&:not(:last-child) {
				padding-bottom: 0.75rem;
				border-bottom: rem(1) solid #d5d7da;
			}
		}
		@media (min-width: $md2) {
			padding-bottom: 0.75rem;
			border-bottom: rem(1) solid #d5d7da;
		}
		&:not(:last-child) {
			margin-bottom: 0.75rem;
		}
	}
	// .submenu__contacts-caption
	&__contacts-caption {
		font-size: 1.125rem;
		line-height: 150%;
	}
	// .submenu__contacts-phone
	&__contacts-phone {
		line-height: 150%;
		transition: color 0.3s ease;
		font-size: rem(20);
		color: #000;
		font-family: $font-comfortaa;
		font-weight: 700;
		letter-spacing: -0.045rem;
		@media (min-width: 1299.98px) {
			font-size: 1.5rem;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
	&__contacts-callback {
		margin-top: 0.5rem;
		@media (min-width: 1299.98px) {
			display: none;
		}
	}
	// .submenu__contacts-mail
	&__contacts-mail {
		color: #53b1fd;
		font-size: 1.125rem;
		line-height: 150%;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
			}
		}
	}
	// .submenu__contacts-socials
	&__contacts-socials {
		margin-top: 0.25rem;
	}
}

.icon-menu {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	padding: 0.62rem;
	min-width: 2.5rem;
	height: 2.5rem;
	border-radius: 0.5rem;
	background: #f4d400;
	color: #181d27;
	z-index: 11;
	transition: all 0.3s ease;
	@media (min-width: $md2) {
		display: none;
	}
	& span {
		display: block;
		padding: rem(1.5) rem(2);
		align-self: stretch;
		transition: transform 0.4s ease 0.4s, opacity 0.4s ease 0.4s;
		will-change: transform;
		&::before {
			content: "";
			display: block;
			height: rem(2);
			border-radius: rem(2);
			background: currentColor;
			transition: transform 0.3s ease 0s;
			will-change: transform;
		}
		&:last-child {
			margin-left: auto;
			width: 75%;
		}
	}
	&.active {
		color: #fff;
		background: transparent;
		padding: 0.35rem;
		& span {
			transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
			&::before {
				transition: transform 0.45s ease 0.35s, width 0.3s ease 0s;
			}
			&:first-child {
				transform: translateY(rem(5));
				&::before {
					transform: rotate(-135deg);
				}
			}
			&:nth-child(2) {
				opacity: 0;
			}
			&:nth-child(3) {
				transform: translateY(rem(-5));
				width: 100%;
				&::before {
					transform: rotate(-225deg);
				}
			}
		}
	}
}
