%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	speak: never;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"],
[class*=" icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}

.icon-arrow:before {
	content: "\e900";
}

.icon-email:before {
	content: "\e901";
}

.icon-home:before {
	content: "\e902";
}

.icon-phone:before {
	content: "\e903";
}
