@use "sass:color";
@use "sass:math";
@use "mixins" as *;
@use "variables" as *;
@use "fonts";
@use "icons";

//============ МОДУЛИ ====================
// @use "modules/popup";
@use "modules/breadcrumbs";
// @import "modules/select";
// @import "modules/pagination";
// @import "modules/phone-input";

//============ МОДУЛИ ====================

.title {
	font-size: 1.75rem;
}

.text-center {
	text-align: center;
}

.text-nowrap {
	white-space: nowrap;
}

.custom-logo-link {
	display: inline-block;
	max-width: rem(220);
	@media (min-width: $md4) {
		max-width: rem(270);
	}
	@media (min-width: $md2) {
		max-width: rem(320);
	}
	@media (min-width: $md1) {
		max-width: rem(362);
	}
	& img {
		width: 100%;
		height: auto;
	}
}

//============ ОБЩИЕ ЭЛЕМЕНТЫ ============

// Стилизация селекта
// $selectBg: $orange;
// $selectColor: $dark;

// ::-moz-selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	box-shadow: none;
// }
// ::selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	-webkit-box-shadow: none;
// 	box-shadow: none;
// }
// ::-moz-selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	box-shadow: none;
// }

// Стилизация скролла

$scrollbarColor: $accent;
$scrollbarHover: $accent;

::-webkit-scrollbar {
	width: rem(8);
}
::-webkit-scrollbar-track {
	background: #fff;
}
::-webkit-scrollbar-thumb {
	background: $scrollbarColor;
	border-radius: rem(8);
	@media (any-hover: hover) {
		&:hover {
			background: $scrollbarHover;
		}
	}
}

//============ ОБЩИЕ ЭЛЕМЕНТЫ ============

// ========== ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ ======
.hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.cover-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

// ========== ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ ======
