@use "sass:color";
@use "sass:math";
@use "mixins" as *;
@use "variables" as *;
@use "fonts";
@use "icons";

//============ МОДУЛИ ====================
@use "modules/popup";
@use "modules/preloader";
// @use "modules/breadcrumbs";
// @import "modules/select";
// @import "modules/pagination";
// @import "modules/phone-input";

//============ МОДУЛИ ====================

.title {
	font-family: $font-comfortaa;
	font-size: 3.5rem;
	font-weight: 600;
	line-height: 120%;
	letter-spacing: em(-0.12, 4);
}

.title-lg {
	font-family: $font-comfortaa;
	font-size: 4rem;
	font-weight: 600;
	line-height: 120%;
	letter-spacing: em(-0.12, 4);
}

.title-sm {
	font-family: $font-comfortaa;
	font-size: 2rem;
	font-weight: 600;
	line-height: 120%;
	letter-spacing: em(-0.12, 4);
}

.text-center {
	text-align: center;
}

.text-nowrap {
	white-space: nowrap;
}

.color-accent {
	color: $accent;
}

.swiper-button-next,
.swiper-button-prev {
	& .swiper-navigation-icon {
		display: none !important;
	}
	position: relative;
	left: auto !important;
	right: auto !important;
	bottom: auto !important;
	top: auto !important;
	margin: 0 !important;
	transform: none !important;
	transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
	z-index: 2;
	width: 3.25rem;
	height: 2.75rem;
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #f3efe7;
	color: #414651;

	&.swiper-button-lock {
		display: none;
	}

	&:disabled,
	&.swiper-button-disabled,
	&[aria-disabled="true"] {
		pointer-events: none;
		opacity: 0.7;
	}

	@media (any-hover: hover) {
		&:hover {
			background: #423931;
			color: #fff;
		}
	}
}

.swiper-button-prev {
	@extend %ic, .icon-arrow-left;
}
.swiper-button-next {
	@extend %ic, .icon-arrow-right;
}

.swiper-pagination {
	&.swiper-pagination-fraction {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		position: static;
		inset: auto;
		margin: 0;
		width: auto;
		color: #717680;
		font-size: 1rem;
		line-height: 140%;
		.swiper-pagination-current {
			color: #000;
			font-size: 2rem;
			font-weight: 700;
			line-height: 140%;
			margin-right: 0.75rem;
		}
	}
	&.swiper-pagination-lock {
		display: none;
	}
	&.swiper-pagination-bullets {
		position: static;
		margin: auto;
		width: auto;
		.swiper-pagination-bullet {
			width: rem(8);
			height: rem(8);
			background: #e9eaeb;
			opacity: 1;
			&.swiper-pagination-bullet-active {
				opacity: 1;
				background: $accent;
			}
		}
	}
}

.swiper-lazy-preloader {
	--swiper-preloader-color: #{$accent};
}
//============ ОБЩИЕ ЭЛЕМЕНТЫ ============

// Стилизация селекта
// $selectBg: $orange;
// $selectColor: $dark;

// ::-moz-selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	box-shadow: none;
// }
// ::selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	-webkit-box-shadow: none;
// 	box-shadow: none;
// }
// ::-moz-selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	box-shadow: none;
// }

// Стилизация скролла

$scrollbarColor: $accent;
$scrollbarHover: color.adjust($accent, $lightness: -10%);

::-webkit-scrollbar {
	width: rem(8);
}
::-webkit-scrollbar-track {
	background: #fff;
}
::-webkit-scrollbar-thumb {
	background: $scrollbarColor;
	border-radius: rem(8);
	@media (any-hover: hover) {
		&:hover {
			background: $scrollbarHover;
		}
	}
}

//============ ОБЩИЕ ЭЛЕМЕНТЫ ============

// ========== ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ ======
.hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.cover-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

// ========== ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ ======
