@use "sass:color";
@use "sass:math";
@use "mixins" as *;
@use "variables" as *;
@use "fonts";
@use "icons";

//============ МОДУЛИ ====================
@use "modules/popup";
@use "modules/preloader";
@use "modules/product";
// @use "modules/breadcrumbs";
// @import "modules/select";
// @import "modules/pagination";
// @import "modules/phone-input";

//============ МОДУЛИ ====================

.title {
	font-family: $font-comfortaa;
	font-size: 3.5rem;
	font-weight: 600;
	line-height: 120%;
	letter-spacing: em(-0.12, 4);
}

.title-lg {
	font-family: $font-comfortaa;
	font-size: 4rem;
	font-weight: 600;
	line-height: 120%;
	letter-spacing: em(-0.12, 4);
}

.title-sm {
	font-family: $font-comfortaa;
	font-size: 2rem;
	font-weight: 600;
	line-height: 120%;
	letter-spacing: em(-0.12, 4);
}

.text-center {
	text-align: center;
}

.text-nowrap {
	white-space: nowrap;
}

.color-accent {
	color: $accent;
}

.swiper-button-next,
.swiper-button-prev {
	& .swiper-navigation-icon {
		display: none !important;
	}
	position: relative;
	left: auto !important;
	right: auto !important;
	bottom: auto !important;
	top: auto !important;
	margin: 0 !important;
	transform: none !important;
	transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
	z-index: 2;
	width: 3.25rem;
	height: 2.75rem;
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #f3efe7;
	color: #414651;

	&.swiper-button-lock {
		display: none;
	}

	&:disabled,
	&.swiper-button-disabled,
	&[aria-disabled="true"] {
		pointer-events: none;
		opacity: 0.7;
	}

	@media (any-hover: hover) {
		&:hover {
			background: #423931;
			color: #fff;
		}
	}
}

.swiper-button-prev {
	@extend %ic, .icon-arrow-left;
}
.swiper-button-next {
	@extend %ic, .icon-arrow-right;
}

.swiper-pagination {
	&.swiper-pagination-fraction {
		display: flex;
		align-items: flex-start;
		justify-content: center;
		position: static;
		inset: auto;
		margin: 0;
		width: auto;
		color: #717680;
		font-size: 1rem;
		line-height: 140%;
		.swiper-pagination-current {
			color: var(--swiper-pagination-fraction-color, #000);
			font-size: 2rem;
			font-weight: 700;
			line-height: 140%;
			margin-right: 0.75rem;
		}
	}
	&.swiper-pagination-lock {
		display: none;
	}
	&.swiper-pagination-bullets {
		position: static;
		margin: auto;
		width: auto;

		.swiper-pagination-bullet {
			background: #a4a7ae;
			opacity: 1;
			&.swiper-pagination-bullet-active {
				opacity: 1;
				background: #414651;
			}
		}
	}
}

.swiper-lazy-preloader {
	--swiper-preloader-color: #{$accent};
}

.favorite-btn {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	color: #717680;
	font-size: 1.125rem;
	cursor: pointer;
	user-select: none;
	&::before {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 1.5rem;
		height: 1.5rem;
		flex-shrink: 0;
		font-size: 1.5rem;
		transition: all 0.3s ease 0s;
		color: #414651;
		order: 1;
		@extend %ic, .icon-heart;
	}
	&.active {
		&::before {
			color: #f04438;
			animation: pulse 0.3s ease-in-out;
			@keyframes pulse {
				0% {
					transform: scale(1);
				}
				50% {
					transform: scale(1.4);
				}
				100% {
					transform: scale(1);
				}
			}
			@extend %ic, .icon-heart-fill;
		}
	}
	& span {
		display: none;
		@media (min-width: $md4) {
			display: inline;
		}
	}
}

%active-state-cart-button {
	background: #47cd89;
	border-color: #47cd89;
	box-shadow: none;
	@media (any-hover: hover) {
		&:hover {
			border-color: color.adjust($color: #47cd89, $lightness: -10%);
			background: color.adjust($color: #47cd89, $lightness: -10%);
		}
	}
}
.add-to-cart-button {
	width: rem(46);
	height: rem(42);
	padding: rem(12);
	&::before {
		font-size: 1.125rem;
		@extend %ic;
		@extend .icon-shopping-cart;
	}
	&.active {
		@extend %active-state-cart-button;
		&.btn-primary {
			@extend %active-state-cart-button;
		}
		&::before {
			@extend .icon-check;
		}
	}
}

.socials {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	// .socials__link
	&__link {
		width: 2rem;
		height: 2rem;
		font-size: 1.25rem;
		flex-shrink: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		overflow: hidden;
		background: #4e443d;
		border-radius: 50%;
		color: #fff;
		transition: background-color 0.3s ease;
		&.icon-telegram {
			@media (any-hover: hover) {
				&:hover {
					background-color: #00b0f2;
				}
			}
		}
		&.icon-whatsapp {
			@media (any-hover: hover) {
				&:hover {
					background-color: #00e510;
				}
			}
		}
		&.icon-youtube {
			@media (any-hover: hover) {
				&:hover {
					background-color: #ff0000;
				}
			}
		}
		&.icon-rutube {
			border-radius: 0.4rem;
			&::after {
				content: "";
				position: absolute;
				bottom: 1rem;
				left: 1rem;
				width: 2rem;
				height: 2rem;
				border-radius: 50%;
				background: #909193;
				transition: background-color 0.3s ease;
			}
			@media (any-hover: hover) {
				&:hover {
					background-color: #13141c;
					&::after {
						background-color: #ec0f37;
					}
				}
			}
		}
		&.icon-vk {
			@media (any-hover: hover) {
				&:hover {
					background-color: #2688eb;
				}
			}
		}
	}
}

//============ ОБЩИЕ ЭЛЕМЕНТЫ ============

// Стилизация селекта
// $selectBg: $orange;
// $selectColor: $dark;

// ::-moz-selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	box-shadow: none;
// }
// ::selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	-webkit-box-shadow: none;
// 	box-shadow: none;
// }
// ::-moz-selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	box-shadow: none;
// }

// Стилизация скролла

$scrollbarColor: $accent;
$scrollbarHover: color.adjust($accent, $lightness: -10%);

::-webkit-scrollbar {
	width: rem(8);
}
::-webkit-scrollbar-track {
	background: #fff;
}
::-webkit-scrollbar-thumb {
	background: $scrollbarColor;
	border-radius: rem(8);
	@media (any-hover: hover) {
		&:hover {
			background: $scrollbarHover;
		}
	}
}

//============ ОБЩИЕ ЭЛЕМЕНТЫ ============

// ========== ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ ======
.hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.cover-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

// ========== ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ ======
